You chose <%=opponent%>


<table>
	<tr>
		<td><%=board.ttt_board[0]%></td>
		<td><%=board.ttt_board[1]%></td>
		<td><%=board.ttt_board[2]%></td>
	</tr>
	<tr>
		<td><%=board.ttt_board[3]%></td>
		<td><%=board.ttt_board[4]%></td>
		<td><%=board.ttt_board[5]%></td>
	</tr>
	<tr>
		<td><%=board.ttt_board[6]%></td>
		<td><%=board.ttt_board[7]%></td>
		<td><%=board.ttt_board[8]%></td>
	</tr>
</table>